### https://raw.github.com/github/gitignore/21419e391a78f2487340b3b1240b988aaf15b54f/Processing.gitignore

.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out


